<div class="navbar">
  <div id='logo'>T</div>
  <a href="/">Tacky News</a>
  <ul>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="/user/logout">Log Out</a></li>
    <li><a href="/post/new">Create Post</a></li>
  </ul>
</div>
